.tahoma {
font-family: Tahoma;

}

.title {

    background-color: aqua;
    color: green;
    text-align: center;
    font-size: 30px;
    padding: 5px;
    border: 5px solid darkblue;
}

.link {
background-color: beige;

}

html {background-color: darkgoldenrod;}


.box {
    padding: 10px;
    
margin-bottom: 2px;
    border: 10px solid lightblue;

    
}

.box1 {
    padding: 10px;
    border: 10px solid darkcyan;
    margin:  0 0 10px 0;
    
    
    
}

.center {
    display: flex;
    justify-content: center;
    
}


.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc {
    background-color: lightblue;
    padding: 10px;
    border: 5px solid darkblue;
}
